html, body
  height 100%
  margin 0
  padding 0

.tmpl
  display none

#main
  margin 0 auto
  width 960px
  position relative
  height 100%


#chat
  margin-right 300px
  position: relative;
  height 100%
  z-index 9999
  background: #a7bce0
  box-shadow 0 0 8px #aaa

  .messages
    position absolute
    left 0px; right 0px; top 0px
    bottom 160px
    background #fff

    .ruler
      position absolute
      left 0; top 0; bottom 0
      width 100px
      // background #DAE8EF
      border-right 1px solid #C4D1D7
      z-index 1
    .body
      position relative
      z-index 9
      .message
        margin-top 10px
        .username
          float left
          width 95px
          height 20px
          padding-right 5px
          text-align right
        .contents
          margin-left 105px
          .content
            .text
              margin-right 50px
              border-right 1px solid #C4D1D7
            .datetime
              position absolute
              right 0; top 0
              padding-left 10px
              width 40px
              height 20px


  .input
    position absolute
    left 0; right 0; bottom 0
    height 150px

    textarea
      position absolute
      left 10px; right 10px; top 0
      bottom 50px
      border 1px solid #aaa
      border-radius 2px
      font-size 15px
      padding 5px

#panel
  float right
  width 300px
  background  #fafafa
  box-shadow -5px 5px 5px #bbb
  border-right 1px solid #eee
  .title
    position relative
    width 100px
    height 30px
    padding-left 15px
    left 191px
    margin 20px 0 10px 0
    line-height 30px
  .title .arrow
    top 31px

  .head
    position relative
    text-align center
    font-size 26px
    color #074082
    height 40px
    line-height 43px
    font-weight bold
    letter-spacing 1.5px
    // text-shadow 0px 0 2px #770C0C
    .deco_left, .deco_right
      display block
      position absolute
      top 10px
      width 30px
      height 30px
      background-size 25px
      background-repeat no-repeat
    .deco_left
      background-image url('/static/img/title_deco_l.png')
      left 55px
    .deco_right
      background-image url('/static/img/title_deco_r.png')
      right 50px
    .deco_underline
      margin 0 auto
      width 250px
      height 1px
      background transparent
      border-bottom 1px solid #ccc
      position relative
      top 5px
      box-shadow 0 1px 1px #dfdfdf

  .body
    margin 30px 15px 100px

    p
      font-size 15px
      color #444
      b
        margin-left 10px
        color #B00B0B

    .login
      padding 5px 0
      // text-align center
      input
        display block
        outline none
      .inputWrapper
        position relative
        overflow hidden
        input[name="username"], input[name="password"]
          float left
          height 25px
          border 1px solid #bbb
          border-radius 3px
          padding: 0 5px
        input[name="username"]
          width 220px
        input[name="password"]
          margin-left 10px
        a.tip
          display block
          width 20px
          height 25px
          float right
          position relative
          top -1px
          background-image url('/static/img/lock.png');
          background-size 30px
          background-position -5px -3px
          cursor pointer
        a.cancel
          display block
          position absolute
          right 1px
          width 25px
          height 26px
          // border 1px solid #bbb
          border-radius 0 3px 3px 0
          background #922626
          font-size 18px
          color #fff
          font-family sans-serif
          font-weight bold
          text-align center
          line-height 26px
          cursor pointer
      ul.colors
        overflow hidden
        // width 140px
        display block
        margin 0
        margin-top 10px
        padding 3px
        list-style none
        li:last-child
          margin-right 0
        li
          margin-right 10px
          float left
          position relative
          // height 20px
          a
            position relative
            z-index 9
            display inline-block
            width 20px
            height 20px
            box-shadow 0 0 8px #555 inset
          .cursor
            display block
            position absolute
            left -3px; top -3px
            width 24px
            height 24px
            border 1px solid #555
            background #fff
            z-index 1
      // .clear
      //   clear both
      .submitWrapper
        margin-top 10px
        overflow: hidden
        input[type="submit"]
          float right
          width 80px
          font-size 11px

    .userinfo

    .roominfo
      .users
        box-shadow 0 0 10px #888 inset
        height 100px
        background #fff
        padding 10px
        .item
          float left
          width 35px
          height 35px
          margin 0 10px 10px 0
          line-height 35px
          border 1px solid #aaa
          text-align center
          color #0BB038


// Effects

.green-gradient-button
  background-color #7fbf4d
  // background-image linear-gradient(top, #7fbf4d, #63a62f)
  background-image -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#6DB338))
  border 1px solid #63a62f
  border-bottom 1px solid #5b992b
  border-radius 3px
  box-shadow inset 0 1px 0 0 #96ca6d
  color #fff
  font bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
  line-height 1
  padding 7px 0 8px 0
  text-align center
  text-shadow 0 -1px 0 #4c9021
  width 150px
.green-gradient-button:hover
  background-color #76b347
  // background-image linear-gradient(top, #76b347, #5e9e2e)
  background-image -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e))
  box-shadow inset 0 1px 0 0 #8dbf67
  cursor pointer
.green-gradient-button:active
  border 1px solid #5b992b
  border-bottom 1px solid #538c27
  box-shadow inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee

.title.folded
  box-shadow 1px 1px 3px #555
  color #111
  text-shadow 0 1px 0 #eee
  background #e3e3e3
  background-image -webkit-gradient(linear, left top, left bottom, from(#DFE6EF), to(#AFCCED))
.title.folded .arrow
  width 0
  height 0
  line-height 0
  border-right 20px solid transparent
  // border-top 10px solid #c8c8c8
  border-top 10px solid #97A5B7
  right: 0
  position absolute
