html, body
  height 100%
  margin 0
  padding 0

#main
  margin 0 auto
  width 960px
  position relative
  height 100%

#chat
  position absolute
  left 0; top 0; bottom 0
  right 310px
  border 1px solid #aaa

  .messages
    position absolute
    left 0; right 0; top 0
    bottom 150px

    .item
      background #eee
      margin 0 10px 0 0

  .input
    position absolute
    left 0; right 0; bottom 0
    height 150px

    textarea
      position absolute
      left 10px
      right 10px
      top 10px
      bottom 10px

#panel
  position absolute
  top 0; bottom 0; right 0
  width 300px
  border 1px solid #aaa
