
#chat {
    position: absolute;
    left: 0px; top: 0px; bottom: 0px;
    right: 320px;
    border: 1px solid #aaa;
}

#panel {
    position: absolute;
    top: 0px; bottom: 0px; right: 0px;
    width: 250px;
    border: 1px solid #aaa;
}