<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Chatroom</title>
    <link rel="stylesheet" href="{{ static_url("new_index.css") }}" type="text/css"/>
</head>

<body>
    <div id="panel">
        <div class="login">

        </div>
        <div class="info">

        </div>

    </div>
    <div id="chat">
        <div class="messages">

        </div>
        <div class="input">

        </div>

    </div>

    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("index.js") }}" type="text/javascript"></script>
</body>
</html>