!!! 5
html
  head
    title Chatroom
    link(rel='stylesheet', href='{{ static_url(\'css/index.css\') }}')

body
  #main

    #panel
      .head Chatroom

      .content

        .title.folded Login
          span.arrow

        .login
          .inputWrapper
            input(type='text', name='username', placeholder='username')
            img.tip(src='{{ static_url(\'img/lock.png\') }}')
            //- input(type='password', name='password', placeholder='password')
            ul.colors
              li #0a0a0a
          input(type='submit', value='Sign&Log In').green-gradient-button

        .userinfo
          div.item#username
            span.name Username
            span.value
          div.item
            span.name Login time
            span.value

        .title.folded Roominfo
          span.arrow

        .roominfo
          div.item
            span.name Online user number:
            span.value x
          div
            span.name Online user list:
          .users

    #chat
      .messages
      .input
        textarea#messageInput

    script(src='{{ static_url(\'js/jquery.min.js\') }}')
    script(src='{{ static_url(\'js/index.js\') }}')
